<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eno Yao</title>
  </head>
  <body>
    <script src="https://tencent.github.io/omi/packages/omi/dist/omi.js"></script>
    <script>
      const { WeElement, define, html, h, render } = omi;

      class Test extends WeElement {
        constructor(...args) {
          super(...args);
          this.state = {
            title: "hello world123"
          };
        }

        render() {
          return h(
            StyledComponents,
            null,
            h(
              "div",
              null,
              h(
                "p",
                {
                  onClick: this.testClick.bind(this)
                },
                this.state.title
              )
            )
          );
        }

        componentDidMount() {
          console.log("生命周期");
        }

        testClick() {
          this.setState({
            title: "Yao"
          });
        }
      }

      Test.css = `p{color:red}`;
      export default Test;
      render(
        html`
          <Test />
        `,
        "body"
      );
    </script>
  </body>
</html>
